.lang-selector {
    display: flex;
    flex-direction: column;

    &__item {
        padding: 10px;
        display: block;
        min-width: 100px;

        &--selected {
            &:before {
                content: '\2714';
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}