.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-block {

}

.form__buttons {
    display: flex;
    justify-content: space-between;
}
