.unauthorized-screen {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .form-group--bottom {
            text-align: center;
        }

        h1 {
            margin-top: 0;
        }
    }

    &__form-divider {
        margin: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
    }

    &__language-selector {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
