@import 'src/variables.scss';

.editable-activity {
    margin: 0 10px;
    padding: 15px 0;
    border-bottom: 1px solid $border-color;

    &--deleted {
        .editable-activity__title {
            text-decoration: line-through;
            color: $error-color;
            flex-grow: 1;
            font-size: 14px;
        }
    }

    &:last-child {
        border: none;
    }

    &__row1 {
        display: flex;
        width: 100%;

        input[type="text"] {
            flex-grow: 1;
            font-size: 14px;
        }
    }

    &__row2 {
        margin-top: 5px;
    }

    .delete-button {
        &:before {
            content: '\1f5d1';
            margin-right: 5px;
        }
    }
}

.color-select {
    width: 150px;

    @each $key, $value in $activity-colors {
        &--color-#{$key} {
            background: $value;
        }

        &__option#{&}__option--color-#{$key} {
            background: $value;
        }
    }
}