.main-screen-wrapper {
    margin: 10px auto;
    background: #333;
    max-width: 500px;
    display: flex;

    & > * {
        width: 50%;
    }
}

.screen-block {
    padding: 15px;

    &__title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}