@import 'src/variables.scss';

.screen-wrapper {
    width: $default-screen-width;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__item {

    }

    &__menu-button {
        font-size: 20px;
        padding: 0;
        line-height: 1;

        &:hover {
            text-decoration: none;
        }
    }
}

.screen-menu {
    display: inline-flex;
    flex-direction: column;
    background: $screen-body-bg;
    margin-bottom: 10px;
    border: 1px solid $border-color;

    &__item {
        padding: 10px;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border: none;
        }
    }
}

.screen-body {
    background: $screen-body-bg;
    flex-grow: 1;
    display: flex;

    &__block {
        margin: 10px;
        width: 50%;
    }

    &__title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.screen-footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;

    &__item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        > * {
            margin: 0 5px;
        }
    }

    &__node-icon {
        display: inline-block;
        vertical-align: center;
        width: 32px;
        height: 19px;
        background: url('/node-icon.png');
    }

    &__react-icon {
        display: inline-block;
        vertical-align: center;
        width: 24px;
        height: 24px;
        background: url('/react-icon.png');
    }
}

@media (max-width: $default-screen-width) {
    .screen-body {
        flex-direction: column;

        &__block {
            width: auto;
        }
    }
}