$main-color: #cfd2d6;
$bg-color: #2d2d2d;
$border-color: #697075;
$selected-color: #f48024;

$button-bg-color: #3e4a52;
$button-hovered-bg-color: #43525f;
$button-main-color: #cde1ee;

$error-color: #f42424;

$activity-colors: (
        1: #0BD9E3,
        2: #0CED2B,
        3: #CDD600,
        4: #F0A500,
        5: #E64307
);
